<div id="captchaModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="captchaModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="captchaModalLabel">Are you human?</h3>
  </div>

  <div class="modal-body">
    <%= recaptcha_tags display: { theme: 'blackglass' } %>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary">Continue</button>
  </div>
</div>
