#overview_tab.tab-pane.fade.in.active
  .table-responsive
    %table.table.table-bordered.table-hover
      %tr
        %th IP address
        %td= webpage_request.primary_ip
      - if webpage_request.location.to_s != ''
        %tr
          %th IP location
          %td= webpage_request.location.to_s
      %tr
        %th Redirect count
        %td= webpage_request.redirect_count
      - if webpage_request.redirect_count > 0
        %tr
          %th Redirects
          %td
            %ol
              - webpage_request.webpage_redirects.find_each do |redirect|
                %li= redirect.url
