- content_for(:description, 'Filturl is a slightly more advanced URL previewer that allows you to see the HTTP headers, HTML source, and a screenshot of a URL without needing to visit it directly.')
.row
  .col-xs-12
    #logo
      = image_tag('logo.png')
= render 'url_form', webpage_request: @webpage_request
