<h3><%= @webpage_request.url %></h3>

<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#headers_tab" data-toggle="tab">Headers</a></li>
    <li><a href="#html_tab" data-toggle="tab">HTML</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="headers_tab">
      <pre class="pre-scrollable"><%= @webpage_response.headers %></pre>
    </div>
    <div class="tab-pane" id="html_tab">
      <pre class="prettyprint pre-scrollable"><%= @webpage_response.body %></pre>
    </div>
  </div>
</div>
