  <div class="tab-pane" id="http_headers_tab">
    <div class="row">
      <div class="span1"></div>
      <div class="span10">
        <pre><%= @webpage_response.headers %></pre>
      </div>
      <div class="span1"></div>
    </div>
  </div>
