  <div class="tab-pane active" id="overview_tab">
    <div class="row">
      <div class="span5">
        <table class="table table-condensed table-bordered table-hover">
          <tr>
            <th>IP address</th>
            <td><%= @webpage.primary_ip %></td>
          </tr>
          <% if @webpage.location != "" %>
          <tr>
            <th>IP location</th>
            <td><%= @webpage.location %></td>
          </tr>
          <% end %>
          <tr>
            <th>Redirect count</th>
            <td><%= @webpage_response.redirect_count %></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
