  <div class="tab-pane" id="view_source_tab">
    <div class="row">
      <div class="span1"></div>
      <div class="span10">
        <%= raw display_html(@webpage.body) %>
      </div>
      <div class="span1"></div>
    </div>
  </div>
