# ActionMailer Config for Amazon SES
# /config/environments/production.rb; /config/environments/development.rb
AMAZON_SES_ADDRESS:
AMAZON_SES_PORT:
AMAZON_SES_USERNAME:
AMAZON_SES_PASSWORD:

# /db/seeds.rb
# Default user data for initializating database
ADMIN_NAME: First User
ADMIN_EMAIL: admin@example.com
ADMIN_PASSWORD: changeme
USER_NAME: Test User
USER_EMAIL: user@example.com
USER_PASSWORD: changeme
ROLES: [admin, user]
