# /config/initializers/secret_token.rb:12 - Set this to the value of `rake secret`.
RAILS_SECRET_TOKEN:

# ActionMailer Config for Amazon SES
# /config/environments/production.rb; /config/environments/development.rb
AMAZON_SES_ADDRESS:
AMAZON_SES_PORT:
AMAZON_SES_USERNAME:
AMAZON_SES_PASSWORD:
