# ActionMailer Config for Amazon SES
# /config/environments/production.rb; /config/environments/development.rb
AMAZON_SES_ADDRESS:
AMAZON_SES_PORT:
AMAZON_SES_USERNAME:
AMAZON_SES_PASSWORD:

# /db/seeds.rb
# Default user data for initializing database
ADMIN_NAME: First User
ADMIN_EMAIL: admin@example.com
ADMIN_PASSWORD: changeme
USER_NAME: Test User
USER_EMAIL: user@example.com
USER_PASSWORD: changeme
ROLES: [admin, user]

# Omniauth API keys
FACEBOOK_APP_ID:
FACEBOOK_APP_SECRET:
GITHUB_CLIENT_ID:
GITHUB_CLIENT_SECRET:
GOOGLE_APP_ID:
GOOGLE_APP_SECRET:

# Amazon Web Services
AWS_ACCESS_KEY_ID:
AWS_SECRET_ACCESS_KEY:
AWS_REGION:
AWS_S3_BUCKET:
AWS_S3_ENDPOINT:

# Are You a Human
AYAH_PUBLISHER_KEY:
AYAH_SCORING_KEY:

# Chartbeat
CHARTBEAT_UID:
CHARTBEAT_DOMAIN:

# Google Analytics
GOOGLE_ANALYTICS_ID:
