#error_dialog
  .container
    .row
      .col-xs-12
        #logo
          = image_tag(asset_path('logo.png'))
    .row
      .col-xs-12.col-md-6.col-md-offset-3
        .panel.panel-danger
          .panel-heading
            %h3.panel-title.text-center Internal Server Error
          .panel-body The server encountered an internal error and was unable to complete your request.
