#logo {
  height: 25%;
  padding: 2.5% 0%;
  width: 100%;
  text-align:center;
}

#logo img { max-width: 100%; }

input#webpage_request_url {
  background-color: #515151;
  color: #fff;
  max-width: 80%;
}

#recaptcha_area, #recaptcha_table { margin: 0px auto !important; }
