!!!
%html{lang: 'en'}
  = render 'layouts/head'
  %body
    = render 'layouts/navigation'
    #main{role: "main"}
      .container
        .content
          = render 'layouts/messages'
          = yield
    %footer
